body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: rgb(224, 231, 234);
}
.nav1 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #263238;
    padding: 20px;
}
.nav1 li{
    display: inline;
    position: relative;
    transition: all 1s linear;
}
.nav1 a:hover{
    background-color: #627f8d;
    padding: 15px;
    transform: scale(1);
}
.nav1 a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}    
.nav1 a:hover::after{
    content: "abc";
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(144, 164, 174, 1);
}
.button_1{
    display: inline;
    background-color: #627f8d;
    padding: 14px;
    border-radius: 5px;
    color: white;
}
.button_1:hover{
    transform: scaleX(1.1);
    cursor: pointer;
}